{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}

    <div class="container-fluid">
        
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">

                <form method="POST">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-bold">Bienvenue, nous sommes heureux de vous revoir !</h1>

                    <div class="form-group">
                        <label for="inputEmail">Adresse Email :</label>
                        <input placeholder="bourguibook@exemple.com" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        <small id="emailHelp" class="form-text text-muted">Vous devez vous connecter avec votre adresse email.</small>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe :</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <input type="submit" class="btn btn-outline-secondary col-12">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{# Fichiers CSS individuels de la page #}
{% block stylesheets %}

{% endblock %}

