{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 text-center my-5">Créer un compte</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 offset-md-4 text-white">

                {# Ouverture du formulaire #}
                {{ form_start(registrationForm) }}

                    {# Affichage champ pseudonym #}
                    {{ form_row(registrationForm.pseudonym) }}

                    {# Affichage champ firstname #}
                    {{ form_row(registrationForm.firstname) }}

                    {# Affichage champ lastname #}
                    {{ form_row(registrationForm.lastname) }}

                    {# Affichage champ gender #}
                    {{ form_row(registrationForm.gender) }}

                    {# Affichage champ phoneNumber #}
                    {{ form_row(registrationForm.phoneNumber) }}

                    {# Affichage champ email #}
                    {{ form_row(registrationForm.email) }}

                    <div>
                        <small>Votre mot de passe doit contenir au moins une miniscule, une majuscule, un chiffre et un caractère spécial</small>
                    </div>
                    {# Affichage champ plainPassword #}
                    {{ form_row(registrationForm.plainPassword) }}

                    {# Affichage champ des termes de conditions #}
                    {{ form_row(registrationForm.agreeTerms) }}

                    {# Affichage recaptcha Google #}
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                    </div>

                    {# Affichage bouton de validation #}
                    {{ form_row(registrationForm.save) }}

                    <div>
                        <p>* Champs à renseigner obligatoirement</p>
                    </div>

                {# Fermeture du formulaire #}
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
