{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Accueil{% endblock %}

{# Contenu de la page #}
{% block body %}

    <div class="row view">
        <h3 class="col-12 text-center my-5 color-white">Résultat de votre recherche ci-dessous <a class="btn btn-outline-secondary bg-light text-dark" href="{{ path('main_activity') }}">Retour</a> </h3>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <section class="row">
                    {% if activitys is empty %}
                        <div class="col-12 text-center">
                            <h3 class="text-white">Il n'y a pas de résultat pour votre recherche</h3>
                        </div>
                    {% else %}
                        {% for activity in activitys %}
                            <div class="mt-2  col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h3 class="card-title">{{ activity.title }}</h3>
                                        <div class="mb-2">
                                            {{ activity.description|striptags|slice(0, 200) }}... <a href="{{ path('activity_view', { slug: activity.slug }) }}">Lire la suite</a>
                                        </div>
                                        <a href="{{ path('activity_view',{slug: activity.slug}) }}" class="btn btn-dark">disponible du {{ activity.StartDate|date('d/m/Y') }} au {{ activity.endDate|date('d/m/Y') }} </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </section>
            </div>
        </div>
    </div>

    <div class="my-3 text-center">
        <div class="d-inline-block">
            {# Affichage du menu permettant de naviguer entre les différentes pages #}
            {{ knp_pagination_render(activitys) }}
        </div>
    </div>
{% endblock %}
