{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Accueil{% endblock %}

{# Contenu de la page #}
{% block body %}
    {# Affichage des messages flashs de type "success" si il y en a #}
    {% include 'partials/success.html.twig' %}

    <!--Titre-->
    <div class="row banner d-flex align-items-center">
        <div class="col-8 offset-2 text-center view ">
            <h1 class="color-white">{{ activitys.title }}</h1>
        </div>
    </div>
    <!--Card contenant l'image et les infos-->
    <section class="row mt-3" id="image">
        <div class="col-12 mt-2 col-md-6 offset-md-3">
            <div class="card" id="univers">
                <img class="card-img-top picture_wihe" src="{{ asset('images/uploads/') ~ activitys.pictur }}" alt="Card image cap">
                <div class="card-body text-center">
                    <p class="card-text color-black">{{ activitys.description }}</p>
                    <p class="card-title color-black">L'activité est disponible du {{ activitys.StartDate|date('d/m/Y') }} au {{ activitys.endDate|date('d/m/Y') }}
                        et celle-ci se situe à {{ activitys.address }} à {{ activitys.city }} ({{ activitys.postalCode }})</p>
                    <a href="https://www.tripadvisor.fr/" class="btn btn-dark">Réserver </a>
                    <a class="btn btn-outline-secondary bg-dark color-white" href="{{ path('main_activity') }}">Retour</a>

                </div>
            </div>
        </div>
    </section>
    <section  class="row mt-3" id="comment">
        <div  class="col-12 mt-2 col-md-6 offset-md-3">
            <div class="card-body text-center">
                <h2 class="mb-5 text-center text-white">Commentaires</h2>
                <div>
                    {% if activitys.comments is empty %}
                        <p class="text-center alert alert-warning">Aucun commentaire n'a été publié pour le moment.</p>
                    {% else %}
                        {% for comment in activitys.comments %}
                            <div class="card my-3 bg-white my-3">
                                <div class="card-body row">
                                    <div class="col-12">
                                        <footer class="blockquote-footer mb-4">Ajouté par <strong class="text-dark"> {{ comment.author.pseudonym }} </strong><br class="d-sm-none"> Le <stong class="text-dark"> {{ comment.publicationDate|date('d/m/Y à H\\hi') }} </stong></footer>
                                        <p class=" color-black">{{ comment.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if app.user %}
                    <h2 class="mb-5 text-center text-white">Ecrire un commentaire</h2>
                    <div>{{ form(commentForm) }}</div>
                {% else %}
                    <p class="text-center text-white mt-4">Vous devez <a href="{{ path('app_login') }}">vous connecter</a> pour laisser un commentaire.</p>
                {% endif %}
            </div>
        </div>
    </section>
    <!--Map Google -->
    <section class="row mt-3">
        <div class="col-12 mt-3 col-md-8 offset-md-2 text-center iframe">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5461.569640485388!2d4.404794222474302!3d46.808544445855965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f24be8fa7688cf%3A0x842c4d436365d1bf!2sInstitut%20Universitaire%20de%20Technologie%20Le%20Creusot!5e0!3m2!1sfr!2sfr!4v1594283688276!5m2!1sfr!2sfr" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>

{% endblock %}
